$color-fondo: #494949;
$color-texto: #d6d6d6;
// $color-fondo-botones: #757575;
$color-fondo-botones: lighten($color-fondo, 10%);
// $color-fondo-botones-hover: #919090;
$color-fondo-botones-hover: lighten($color-fondo, 20%);

$link-no-visitado: #d6d6d6;
$link-visitado: #d6d6d6;
// $max-width-zoom-out: 2600px;


//funcion poner border a los elementos
@mixin border() {
    border: lighten($color-fondo, 20%) 3px solid;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    
    @include border();
    img{
        // max-width: $max-width-zoom-out;
        width: 100%;
        height: auto;
    }
}


body{
    // max-width: $max-width-zoom-out;
    background-color: $color-fondo;
    color: $color-texto;
}

/* hace que el mouse se vea como flecha, no como manito */
.not-yet{
    cursor: default;
}

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "titulo_desc github"
    "botones autor";
    
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    
    @include border();
    padding: 10px;
    margin-bottom: 4px;
}
#titulo_desc{
    grid-area: titulo_desc;
}
#botones{
    grid-area: botones;
    justify-self: left;
    align-self: end;
}
#github{
    grid-area: github;
    justify-self: right;
}
#autor{
    grid-area: autor;
    justify-self: right;
    align-self: end;

    //mostrar todo en una sola linea
    white-space: nowrap;
    *{
        display: inline;
    }
}





h4, p, img{
    margin: 0px;
}

a:link{
    color: $link-no-visitado;
}

a:visited{
    color: $link-visitado;
}

button{
    padding: 0px;
    margin: 0px;
    
    //para que quede la imagen dentro del boton centrada
    img{
        padding-top: 3px;
        
        // display: inline;
        // justify-content: center;
        // align-items: center;
    }
}

#atras, #home, #github, #youtube-video{
    background-color: $color-fondo-botones;
    border-radius: 50%;
    border: 0px;
    width: 48px;
    height: 48px;
    cursor: pointer;

    &:hover{
        background-color: $color-fondo-botones-hover;
        transform: scale(1.1);
        transition: all 0.1s linear;
    }
}

